<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js"></script>

    <script src="js/models/model.js"></script>
    <script src="js/views/view.js"></script>
</head>
<body>

<div class="container"></div>

<script type="text/template" id="page-template">
	<div class="view">
		<h1><%- title %></h1>
		<button><%- buttontitle %></button>
	</div>
</script>

</body>
</html>
